#main {
    background-image: url("");
    background-size: cover;    /* Makes the image cover the entire div */
    background-position: center;  /* Centers the image */
    background-repeat: no-repeat; /* Prevents repeating */
    border: 2px solid black;  /* Adds a black border */
    margin: 0;
    opacity: 1;
    width: 146.6px;
    max-width: 100%;
    height: auto;
}